# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

*.gz

# to prevent model or weights push
*.h5
*.hdf5

# prevent pickled objects to be pushed
*.pkl

# prevent weights push for mxnet format
*.params
*symbol.json

# avoid pushing any lock files
*.~lock

# avoid pushing log-files generated by uci-communication
CrazyAra-log.txt
score-log.txt

# avoid pushing dataset files used for visualization
crazyara_lichess_dataset.pgn
crazyara_lichess_dataset_stats.csv

# avoid pushing datasets
sf_vs_sf_*.pgn

# Build
build-engine-Desktop_Qt*/

# user
*.txt.user
/.vs
/.vscode
/data
/engine/cmake-build-debug
/model
/DeepCrazyhouse/src/preprocessing/data.json
/DeepCrazyhouse/src/preprocessing/results.json
/engine/3rdparty/blaze-3.6
/DeepCrazyhouse/data
/DeepCrazyhouse/src/preprocessing/download_pgns
/engine/CMakeSettings.json
/DeepCrazyhouse/src/preprocessing/analyse_game_phase_data.json
/DeepCrazyhouse/src/samples/batch_phase_data.csv
/DeepCrazyhouse/src/samples/batch_phase_data_berlin.csv
/phase_models
