[submodule "engine/3rdparty/Stockfish"]
	path = engine/3rdparty/Stockfish
	url = https://github.com/QueensGambit/Stockfish.git
[submodule "engine/3rdparty/open_spiel"]
	path = engine/3rdparty/open_spiel
	url = https://github.com/BluemlJ/open_spiel.git
	branch = thesis
[submodule "engine/3rdparty/Fairy-Stockfish"]
	path = engine/3rdparty/Fairy-Stockfish
	url = https://github.com/xsr7qsr/Fairy-Stockfish.git
[submodule "engine/3rdparty/blaze"]
	path = engine/3rdparty/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
