torch
numpy
python-chess==0.23.11
zarr
numcodecs
ipywidgets
matplotlib
tqdm
tensorboard
onnx
ipytree
setproctitle
rtpt
dataclasses
torchsummary
onnxruntime
onnxsim
fvcore
timm
einops
ml_collections
vit_pytorch